<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="<%= root_path %>">NASP</a>
        <ul class="nav">
          <%= nav_link 'Home', root_path , 'home/index'%>

          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Stabla<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Binarno stablo', binary_tree_root_path %></li>
              <li><%= link_to 'Crveno-Crno stablo', rb_tree_path %></li>
              <li><%= link_to 'Binarno-Heap stablo', heap_tree_path %></li>
              <li><%= link_to 'AVL stablo', avl_tree_path %></li>
            </ul>
          </li>

        </ul>
    </div>
  </div>
</div>